@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,400,800);

html {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Ek Muta", Helvetica, Arial, sans-serif;
    font-weight: 200;
    background-color: #cccccf;
    color: #333;
    letter-spacing: -0.02em;
    padding: 0 0 2em;
    margin: 0; 
}

@media(max-width:767px) {
    body {
        font-size: 20px;
    }
}
@media(min-width:768px) {
    body {
        font-size: 24px;
    }
}
@media(min-width:992px) {
    body {
        font-size: 28px;
    }
}


.nav, .main {
    padding: 0;
    margin: 0 auto;
    max-width: 30em;
}  

.tweet {
    padding: 0.8em 1em 0.9em;
    margin: 0.4em;
    border-radius: 0.5em;
    background-color: #ddd;
    border: 1px solid #bbb;
}

.user {
    font-size: 0.8em;
    font-weight: 400;
    color: #246 ;
}

.time {
    font-size: 0.7em;
    color: #aab;
}
.message {
    display: block;
    padding-top: 0.2em;
    color: #222;
}


.top {
    background-color: #123;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

h1 {
    margin: 0;
    color: #abc;
    letter-spacing: -0.0666em;
    font-weight: 800;
}